.del-style-userPhoto{
    display : inline-block;
    padding-bottom : 20px;
    position : absolute;
}
.del-style-CommentDetail{
    display : inline-block;
    padding-left : 40px;
}
.del-style-UserName{
    font-weight : bold;
}
.del-style-DateTime{
    font-size : 0.9em;
}
.del-style-Margin{
    margin : 8px 0px;
}